<h2 class="destaque-azul-escuro fw-semibold text-center pt-xxl-3">Acesse minhas Redes</h2>
<div class="container text-center links-redes pb-5">
  <div class="mt-3 mt-xxl-4 mb-xxl-3 d-flex flex-column row-gap-3 row-gap-xxl-5 px-xxl-2">
    <a class="py-1 py-xxl-2" href="https://www.linkedin.com/in/alvaronrsilva">
      <i class="fa-brands fa-linkedin"></i>
      LinkedIn
    </a>
    <a class="py-1 py-xxl-2" href="https://www.instagram.com/a.silva_front/">
      <i class="fa-brands fa-instagram"></i>
      Instagram
    </a>
    <a class="py-1 py-xxl-2" href="https://github.com/AlvaroNrs">
      <i class="fa-brands fa-github"></i>
      GitHub
    </a>
  </div>
</div>
