<body>
  <section class="container-fluid px-5">
    <h1 class="text-center text-uppercase fs-2 pt-5 pb-5 pb-xxl-3 mb-0">Currículo</h1>
    <h2 class="titulo-secao">Formação Acadêmica</h2>
    <section class="lista-cursos">
      <section class="pt-3 pb-2">
        <h3 class="text-uppercase text-left"><i class="fa-solid fa-circle"></i>itb brasílio flores de azevedo</h3>
        <p>
          Curso Técnico de Informática (integrado ao Ensino Médio)<br>
          Duração: Jan. 2017 - Dez. 2019
        </p>
      </section>
      <section class="pt-3 pb-2">
        <h3 class="text-uppercase text-left"><i class="fa-solid fa-circle"></i>CENTRO UNIVERSITÁRIO BELAS ARTES DE SÃO PAULO</h3>
        <p>
          Bacharelado em Design de Games<br>
          Duração: Jan. 2020 - Dez. 2023
        </p>
      </section>
      <section class="pt-3 pb-2">
        <h3 class="text-uppercase text-left"><i class="fa-solid fa-circle"></i>FIAP – FACULDADE DE INFORMÁTICA E ADMINISTRAÇÃO PAULISTA</h3>
        <p>
          Tecnólogo em Análise e Desenvolvimento de Sistemas<br>
          Duração: Jan. 2024 – Dez. 2025( Previsão)
        </p>
      </section>
    </section>
    <!-- Cursos Complementares-->
    <section id="lista-cursos" class="lista-cursos">
      <h2 class="titulo-secao">Cursos Complementares</h2>
      <section class="pt-3 pb-2">
        <h3 class="text-uppercase text-left"><i class="fa-solid fa-circle"></i>MICROLINS CARAPICUÍBA</h3>
        <p>
          Montagem e Manutenção de Computadores<br>
          Duração: Jan. 2016 – Jan. 2017
        </p>
      </section>
      <section class="pt-3 pb-2">
        <h3 class="text-uppercase text-left"><i class="fa-solid fa-circle"></i>MICROLINS CARAPICUÍBA</h3>
        <p>
          Excel Avançado<br>
          Duração:  Jun. 2016 – Out.2016
        </p>
      </section>
      <section class="pt-3 pb-2">
        <h3 class="text-uppercase text-left"><i class="fa-solid fa-circle"></i>Saga</h3>
        <p>
          Computação Gráfica, Ilustração e Pintura Digital, Tratamento de Imagens, Edição e Composição de Vídeo, Modelagem e Animação 3D e Criação de Jogos 2D<br>
          Duração:  Nov. 2018 – Mar. 2020
        </p>
      </section>
    </section>
    <!-- Competências Profissionais-->
    <section id="lista-competencias">
      <h2 class="titulo-secao">Competências Profissionais</h2>
      <section class="lista-cursos py-3 py-xxl-0">
        <ul class="lista">
          <li>
            <img src="../../assets/img/Circulo_Item.png" alt="Ícone de Listagem Circular">
            Confortável trabalhando com o Microsoft Office (Word, Excel, PowerPoint) e Google Suite (Documentos, Planilhas, Apresentações)</li>
          <li>
            <img src="../../assets/img/Circulo_Item.png" alt="Ícone de Listagem Circular">
            Confortável trabalhando com diferentes versões do Microsoft Windows</li>
          <li>
            <img src="../../assets/img/Circulo_Item.png" alt="Ícone de Listagem Circular">
            Confortável trabalhando com o Adobe Illustrator, Adobe Photoshop e Adobe Premiere</li>
          <li>
            <img src="../../assets/img/Circulo_Item.png" alt="Ícone de Listagem Circular">
            Conhecimento intermediário nas Linguagens Java, C#, SQL, HTML5. Conhecimento básico nas Linguagens Python, CSS, Javascript, jQuery e MySql</li>
          <li>
            <img src="../../assets/img/Circulo_Item.png" alt="Ícone de Listagem Circular">
            Conhecimento intermediário em Controle de Versão com Git</li>
          <li>
            <img src="../../assets/img/Circulo_Item.png" alt="Ícone de Listagem Circular">
            Conhecimento intermediário em Metodologias Ágeis</li>
        </ul>
      </section>
    </section>
    <!-- Idiomas -->
    <section id="idiomas" class="lista-cursos">
      <h2 class="titulo-secao">Idiomas</h2>
      <section class="pt-3 pb-2 d-flex align-items-center">
        <ul class="lista">
          <li>
            <img src="../../assets/img/Circulo_Item.png" alt="Ícone de Listagem Circular">
            Português Brasileiro: Língua Nativa</li>
          <li>
            <img src="../../assets/img/Circulo_Item.png" alt="Ícone de Listagem Circular">
            Inglês: Avançado (Leitura); Intermediário (Escrita, Fala)<br>
            (CCAA Carapicuíba - 2016)</li>
        </ul>
      </section>
    </section>
  </section>
  <app-acesso-redes></app-acesso-redes>
</body>

