<nav class="navbar navbar-expand-md">
  <div class="container align-items-center flex-grow-0">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="fa-solid fa-bars"></i></span>
    </button>
    <a routerLink="home" class="navbar-brand text col-9 flex-grow-0 mb-xxl-0" routerLink="home" id="titulo-pagina">Silva-Front</a>
  </div>
  <div class="collapse navbar-collapse hidden col-md-8 align-items-center" id="navbarNav">
    <ul class="navbar-nav  column-gap-xxl-5">
      <li class="nav-item">
        <a class="nav-link" routerLink="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="sobre">Sobre Mim</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="curriculo">Currículo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="trabalhos">Trabalhos</a>
      </li>
    </ul>
  </div>
</nav>
