<body>
  <div class="container-fluid text-center px-5">
    <h1 class="text-center text-uppercase fs-2 pt-5 mb-0">Sobre mim</h1>
    <img src="../../assets/img/Minha Foto.png" class="mt-4 mt-xxl-5 mb-2 mb-xxl-4" alt="Foto de Álvaro Novais">
    <div class="mt-xxl-5 pb-xxl-5">
      <p class="mt-2 ">
        Desde o início de minha adolescência, tive um amplo contato com computadores. Acreditando que seguiria para algum ramo ligado à tecnologia,
        comecei meus estudos nesta área através de um curso Técnico de Informática integrado ao Ensino Médio. Nele, tive o primeiro contato com Algoritmos, Lógica de Programação, Programação Orientada a Objetos, Desenvolvimento Web (incluindo HTML, CSS e Javascript) e Desenvolvimento Mobile. Também vi as bases da Manutenção de Hardware.
      </p>
      <p class="mt-2">
        Nos últimos meses do curso, interessei-me pela área de Desenvolvimento de Jogos Digitais. Isto me levou a cursar uma graduação em Design de Games no Centro Universitário Belas Artes de São Paulo, com duração de 4 anos. Durante o curso, aprendi sobre os conceitos básicos relacionados a jogos, Engines, Desenho, Roteiro, Animação 2D e 3D; e Metodologias Ágeis. Como ponto de destaque, aprendi a como unir a já conhecida programação a todos os elementos que compõem um jogo digital, seja personagem, inimigos, ambiente, som, interface e outros mais.
      </p>
      <p class="mt-2">
        Entretanto, próximo de finalizar o curso, vi que os Jogos não eram para mim. Havia aprendido muito e ainda gostaria de me dedicar à Tecnologia, mas numa outra direção.
      </p>
      <p class="pb-5">
        Recordando-me do que aprendi em meu curso técnico, iniciei um curso tecnólogo em Análise e Desenvolvimento de Sistemas, desejando entrar no mercado de TI.
      </p>
    </div>
  </div>
</body>
