body {
  font-family: var(--fonte-secundaria);
  background-color: var(--cinza-fundo);
}


h1 {
  font-family: var(--fonte-primaria);
  color: var(--laranja);
  font-size: 1.5rem;
}

section {
  padding-left: 0;
  padding-right: 0;
}

button {
  color: var(--preto);
  text-decoration: none;
  border-radius: 4px;
  border: 2px solid var(--laranja);
  transition: 200ms;
  background-color: transparent;
}

button:hover, button:active{
  background-color: var(--laranja);
}

a {
  color: var(--preto);
  text-decoration: none;
  border-radius: 4px;
  border: 2px solid var(--laranja);
  transition: 200ms;
  background-color: transparent;
}

a:hover, a:active{
  background-color: var(--laranja);
}

.fa-arrow-right {
  padding-left: 0.3rem;
}

.card {
  padding-left: 0rem;
  padding-right: 0rem;
  background-color: var(--branco);
}

.card-body {
  padding: 0;
}

.card-title {
  color: var(--laranja);
  font-family: var(--fonte-primaria);
  background-color: var(--azul-escuro);
}

.card-img-top {
  max-width: 345px;
  max-height: 345px;
}

.btn-close {
  color: var(--preto);
}

.modal-body li {
  list-style-type: none;
  color: var(--branco);
  background-color: var(--laranja);
  border-radius: 4px;
  padding: 0.15rem 0.5rem;
}

@media (min-width: 768px) {
  .card {
    max-width: 30%;
  }
}
