<body>
  <h1 class="text-center text-uppercase pt-5 mb-0 py-xxl-5">Eleve seu negócio a outro nível <div class="destaque-azul-claro">com um front-end de qualidade!</div></h1>
  <div class="text-center px-5">
    <div class="mb-xxl-4 d-xxl-flex justify-content-xxl-center align-items-xxl-center flex-row-reverse">
      <img src="../../assets/img/Minha Foto.png" class="mt-4 mt-xxl-0 mb-2 mb-xxl-0 img-xxl-fluid" alt="Foto de Álvaro Novais">
      <div class="d-xxl-flex flex-xxl-column w-xxl-10 descricao">
        <p class="mt-2">
          Olá! Sou Álvaro Novais, desenvolvedor Front-end com especialidade em <b class="destaque-laranja">Angular, HTML e CSS</b>.<br></p>
        <p>
          Ajudo pequenos negócios e designers a colocarem em prática boas ideias. Vamos conversar?
        </p>
      </div>
    </div>
    <app-acesso-redes></app-acesso-redes>
  </div>
</body>
